/*@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);*/

div.insomnia
{
    margin:30px 40px;
}

div.insomnia h1
{
    font-family: 'Droid Serif', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 55px;
}

div.insomnia h2
{
    font-family: 'PT Sans', Georgia, Times, serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 20px;
    color: #333;
}

div.insomnia h3
{
    font-family: 'PT Sans', Georgia, Times, serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 18px;
    color: #555;
}

div.insomnia h4
{
    font-family: 'PT Sans', Georgia, Times, serif;
    font-size: 26px;
    line-height: 20px;
    color: #512E10;
}

div.insomnia a
{
    text-decoration: none;
}

div.insomnia table
{
    width: 100%;
}

div.insomnia table th:first-child
{
    width:150px;
}

div.insomnia div.button
{
    float:right;
}

div.insomnia div.insomnia-backtrace
{
    padding:5px;
}

div.insomnia div.insomnia-backtrace p
{
    padding:0px;
    margin:0px;
    line-height: 23px;
}

div.insomnia div.insomnia-backtrace em.ok
{
/*    color: green;*/
/*    background-image: url("/insomnia/icon/tree-V.png");
    background-repeat: no-repeat;*/

    display: block;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

div.insomnia div.insomnia-backtrace em.error
{
/*    background-image: url("/insomnia/icon/tree-L.png");
    background-repeat: no-repeat;*/

    display: block;
    margin: 0px;
    padding: 5px 0px 5px 0px;

    font-size: 18px;
}

div.insomnia div.insomnia-backtrace em.dim
{
/*    background-image: url("/insomnia/icon/tree-V.png");
    background-repeat: no-repeat;*/

    display: block;
    padding: 0px 0px 0px 0px;
    
    color: #777;
}

div.insomnia div.insomnia-error-header
{
    padding-bottom: 15px;
    display:block;
    float:left;
}

div.insomnia div.insomnia-error-header h1.insomnia-logo
{
    width: 150px;
    height: 150px;
    background-image: url("/insomnia/images/logo.jpg" );
    background-repeat: no-repeat;
    font-size: 1px;
    float:left;
    display: none;
}

div.insomnia div.insomnia-error-header div.insomnia-title
{
    float:left;
}

div.insomnia div.insomnia-documentation
{
    clear:both;
}

div.insomnia div.insomnia-documentation-block
{
    margin-bottom:10px;
}

div.insomnia div.insomnia-documentation input, 
div.insomnia div.insomnia-documentation select
{
    padding:5px;
}


div.insomnia div.insomnia-documentation h4
{
    padding: 5px 20px;
    margin:0px;
}

div.insomnia div.insomnia-documentation ul
{
    padding:10px 20px;
    margin-bottom:10px;
}

div.insomnia div.insomnia-documentation ul li
{
    font-weight: bold;
    list-style: none;
    margin-left:0;
    margin-top:10px;
}

div.insomnia div.insomnia-documentation ul li ul li
{
    font-weight: normal;
    list-style:circle;
    margin-left:0;
    margin-top:10px;
}

div.insomnia div.insomnia-documentation span.header-key
{
   color:#008;
}

span.insomnia-documentation-http-method
{
    background-color: #C80125;
    color: #fff;
    padding:5px 10px;
    text-align: center;
    display: block;
    font-weight: bold;
    letter-spacing: 0.125em;
    float:left;
    min-width:100px;
    
    font-size: 18px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

span.insomnia-documentation-http-title
{
    color: #512E10;
    padding:6px 25px;
    text-align: center;
    display: block;
    font-weight: bold;
    letter-spacing: 0.01em;
    float:left;
    min-width:100px;
    
    background-color: #eee;
    
    font-size: 16px;
    
    border-right:solid 1px #ddd;
}

span.insomnia-documentation-http-uri
{
    background-color: #FBFBFB;
    padding:4px 0;
    display: block;
    
    border: solid 1px #ddd;
    
    letter-spacing: 0.125em;
}

span.insomnia-documentation-http-uri a
{
    padding:5px 15px;
    font-size: 18px;
}

table.insomnia-table-simple
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-collapse:separate;
    
    margin-bottom:0px;
    
    border: none;
}

table.insomnia-table-simple td
{
    padding:10px 0px;
    border: none;
}

input#request-body,
input#request-uri
{
    padding:5px;
    border: solid 1px #bbb;
    background-color: #fff;
    min-width:400px;
}

div.posh
{
    padding:20px;
/*    margin-right:20px;*/
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border:solid 15px #FBFBFB;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    background-color: #FFF;
}

div.footer
{
    text-align:right;
    margin-top:15px;
    clear:both;

    position:fixed;
    top:0px;
    right:20px;
}

div.footer a
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    font-size: 20px;
    padding:10px 0px;
    border: solid 1px #ddd;
    background-color: #FFF;

    color: #222;
    text-decoration: none;

    height:28px;
    display:inline-block;

    padding-left: 60px;

    background-repeat: no-repeat;
    background-position: 4px 0px;
    padding: 10px 25px;
    opacity:1;

    -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.5);
}

div.footer a:hover
{
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    0px 1px 5px rgba(0, 0, 0, 0.6);
    box-shadow:         0px 1px 5px rgba(0, 0, 0, 0.6);

    opacity:1;

    background-color: #ddd;
    color: #333;
}

div.footer a span
{
    padding-left: 30px;
    display: none;
}

div.footer a:hover span
{
/*    display: inline;*/
}

div.footer a.routes
{
    background-image: url("/insomnia/icon/android/ic_menu_compass.png");
}

div.footer a.client
{
    background-image: url("/insomnia/icon/android/ic_menu_invites.png");
}

div.footer a.home
{
    background-image: url("/insomnia/icon/android/ic_menu_home.png");
}

div.footer a.modules
{
    background-image: url("/insomnia/icon/android/ic_menu_manage.png");
}

div.footer a.ping
{
    background-image: url("/insomnia/icon/android/ic_menu_scan_network.png");
}

div.footer a.docs
{
    background-image: url("/insomnia/icon/android/ic_menu_bookmark.png");
}

div.footer a.examples
{
    background-image: url("/insomnia/icon/android/ic_menu_gallery.png");
}


html
{
    background-image: url( '/insomnia/images/gradient.jpg' );
    background-repeat: repeat-x;
}

h1.icon
{
    background-repeat: no-repeat;
    background-position: -5px 2px;
    padding-left:50px;
}

h3.icon
{
    background-repeat: no-repeat;
    background-position: -5px -8px;
    padding: 5px 0;
    padding-left:50px;
}