body {
    font-family: Arial,Helvetica,sans-serif;
    background-color: transparent;
}

fieldset
{
    border:solid 1px #ddd;
    padding:10px;
    margin-bottom: 20px;
}

fieldset legend
{
    padding: 0 10px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: times, Times New Roman, times-roman, georgia, serif;
}

h1 {
    font-size: 48px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #444;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-weight: 100;
}

h4 {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #444;
    margin-bottom: 10px;
}

h6 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
}

hr {
    border:none;
    border-bottom: dotted 1px #ccc;
}

pre {
    font-size: 12px;
}

.error {
    font-weight: 100;
    color:#c80125;
}

thead th.error {
    background-color: #c80125;
    color: #fff;
    border-color: #c80125;
}