/*
§font: font stacks
§fsize: font-sizes
§colour
* re-arrange?
* browser tests
* print?
* html5...
*/


html {
    overflow-x: auto;
    overflow-y: scroll;
}
html, body {
    background-color: #fff; /* §colour  */
    color: #333; /* §colour */
    margin: 0;
    padding: 0;
}
body {
    font: normal 100%/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; /* §fsize §font */
    /* default font size: 100% => 16px; 93.75% => 15px; 87.5% => 14px; 81.25% => 13px; 75% => 12px */
    text-align: left;
}


/*____________ headers ____________*/

h1, h2, h3, h4, h5, h6,
caption, legend {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* §font */
    font-weight: bold;
    color: #666; /* §colour */
    background-color: inherit;
    padding: 0;
    clear: both;
}

h1 { font-size: 2.25em;  margin: 0 0 0.444em; } /* §fsize */
h2 { font-size: 1.5em;   margin: 0 0 0.666em; } /* §fsize */
h3 { font-size: 1.125em; margin: 0 0 0.888em; } /* §fsize */
h4 { font-size: 1em;     margin: 0 0 1.0em; } /* §fsize */
h5 { font-size: .875em;  margin: 0 0 1.1428em; } /* §fsize */
h6 { font-size: .75em;   margin: 0 0 1.333em; } /* §fsize */
/* bottom margin = 1 / font-size */

/*____________ basic margins and paddings ____________*/

p, ul, ol, dl, pre, table,
hr, blockquote, fieldset, address {
    margin: 0 0 1.4em 0; /* bottom margin = line-height */
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

p, dt, dd, td, th, li {
/* TODO?
    font-size: 1em;
*/
}


/*____________ lists ____________*/

ul, ol {
    padding: 0 0 0 1.5em;
}
li, dd {
    margin: 0 0 0 1.5em;
    padding: 0;
}
dt {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

li ul, li ol, li dl,
dl ul, dl ol, dl dl {
    margin-bottom: 0;
    padding: 0;
}
td td,
li li {
    font-size: 100%;
}

ul             { list-style: disc outside; }
ol             { list-style: decimal outside; }
ol ol          { list-style-type: lower-alpha; }
ol ol ol       { list-style-type: upper-roman; }
ol ol ol ol    { list-style-type: upper-alpha; }
ol ol ol ol ol { list-style-type: lower-roman; }
/*
ul ul          { list-style-type: circle; }
ul ul ul       { list-style-type: square; }
ul ul ul ul    { list-style-type: disc; }
*/

/*____________ tables ____________*/

table {
    border-collapse: collapse;
    empty-cells: show;
    border-spacing: 0;
    /*table-layout: fixed;*/
    border: 1px solid #ccc; /* §colour */
}
/* @todo: research how other people do captions (below?) */
/* YUI: table{font-size:inherit;font:100%;} TODO? */
caption {
    caption-side: top;
    text-align: left;
    margin: 0 0 .3em;
}
th, td {
    padding: .3em .5em;
    margin: 0;
    vertical-align: top;
    border: 1px solid #ccc; /* §colour */
}
th {
    font-weight: bold;
    background-color: #eee; /* §colour */
    text-align: left;
}


/*____________ links ____________*/

a {
}
a:link, a:visited {
    text-decoration: underline;
}
a:link {
    color: #00c; /* §colour */
}
a:visited {
    color: #606; /* §colour */
}
a:link:hover, a:visited:hover,
a:link:focus, a:visited:focus,
a:link:active, a:visited:active {
    text-decoration: none;
}
a:link:focus, a:visited:focus {
    outline: 1px dotted;
}
a:link:active, a:visited:active {
    color: #c00; /* §colour */
}

/*
a[href^="http"]:after {
    content: "\00A0\21B7";
    font-weight: bold;
}
*//* \00A0\21D8 */


/*____________ misc ____________*/

img {
    border-width: 0;
    vertical-align: middle;
    color: #666; /* §colour */
    background-color: transparent;
    font-style: italic;
}

hr {
    border-style: solid;
    border-width: 1px 0 0;
    text-align: center;
    height: 0;
    width: 100%;
    clear: both;
}

acronym, abbr {
    cursor: help;
    border-bottom: 1px dotted;
    font-style: normal;
}

pre, code, samp, kbd {
    font: normal 1em Consolas, "Andale Mono WT", "Andale Mono", "Bitstream Vera Sans Mono", "Liberation Mono", Monaco, "Courier New", monospace; /* §font */
    direction: ltr;
}
pre {
    overflow: auto;
}

blockquote {
    padding: 0 1.25em;
    border: solid #ccc; /* §colour */
    border-width: 0 0 0 .25em;
/*
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
*/
}
q:before, q:after {
    content: '';
}

sub, sup {
    font-size: .8em;
    line-height: 1;
}
sub {
    vertical-align: sub;
}
sup {
    vertical-align: super;
}

/*____________ forms ____________*/

form {
    display: inline;
    margin: 0;
    padding: 0;
}
fieldset {
    padding: 1em 1em 0;
    border: 1px solid #999;
}
legend {
    margin: 0;
    padding: 0 .1em;
}
label {
    vertical-align: middle;
    cursor: pointer;
}
input, textarea, button,
select, optgroup, option {
    font: inherit;
    color: inherit;
    /* background-color destroys button look */
    line-height: 1;
    margin: 0;
    vertical-align: middle;
}
input[type=text], input[type=password], textarea {
    padding: .1em;
}
input[type=radio], input[type=checkbox], input.check {
/*
    border-width: 0;
*/
    padding: 0;
}
input[type=submit], input.button, button {
    cursor: pointer;
}
input[disabled], button[disabled],
input[readonly], button[readonly] {
    cursor: auto;
/*
    color: #999;
    background-color: #eee;
    border: 1px solid #999;
*/
}
optgroup { font-style: italic; font-weight: bold; }
option   { font-style: normal; font-weight: normal; }


/*____________ text direction ____________*/

[dir=rtl] body,
[dir=rtl] caption,
[dir=rtl] th {
    text-align: right;
}
[dir=ltr] body,
[dir=ltr] caption,
[dir=ltr] th {
    text-align: left;
}

[dir=rtl] ul, [dir=rtl] ol {
    padding: 0 1.5em 0 0;
}
[dir=ltr] ul, [dir=ltr] ol {
    padding: 0 0 0 1.5em;
}
[dir=rtl] li, [dir=rtl] dd {
    margin: 0 1.5em 0 0;
}
[dir=ltr] li, [dir=ltr] dd {
    margin: 0 0 0 1.5em;
}
[dir=rtl] blockquote {
    border-width: 0 .25em 0 0;
}
[dir=ltr] blockquote {
    border-width: 0 0 0 .25em;
}



/*____________ general classes ____________*/

div.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 1px;
    visibility: hidden;
}

.a11y {
    position: absolute;
    left: -9000px;
    top: -4000px;
    width: 0;
    height: 0;
    overflow: hidden;
    display: inline;
}

.error   { color: #900; font-weight: bold; } /* §colour */
.success { color: #060; font-weight: bold; } /* §colour */

.box {
    margin-bottom: 1.5em;
    padding: 1em 1em .2em;
    background-color: #ddd; /* §colour */
    color: inherit;
}

/* @todo: clearfix as .group */
